@import '../../index.scss';

.tasks {
    background: url('../../images/aboutTasks/aboutTasksBg.svg');
    height: 130vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    .mainOfTasks {
        width: 75%;
        margin: 0 auto;
        padding: 350px 0 0 0;
        .tasks__title {
            text-align: left;
            color: $whiteColor;
            h3 {
                font-weight: 700;
                font-size: 36px;
                line-height: 44px;
                letter-spacing: 0.03em;
                text-transform: uppercase;
            }
            p {
                font-weight: 300;
                font-size: 26px;
                line-height: 32px;
                letter-spacing: 0.03em;
            }
        }
        .tasks__items {
            padding: 100px 0 0 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $whiteColor;
            .item {
                position: relative;
                border: 1px solid $ligthDarkColor;
                border-radius: 11px;
                width: 28%;
                height: 300px;
                text-align: center;
                .secretItem {
                    position: absolute;
                    left: -12px;
                    top: -32px;
                    background: radial-gradient(50% 50% at 50% 50%, #D2A6FF 0%, rgba(210, 166, 255, 0) 98.85%);
                    width: 350px;
                    filter: blur(5.5px);
                }
                h3 {
                    position: absolute;
                    font-weight: 600;
                    font-size: 50px;
                    line-height: 61px;
                    text-shadow: 0px 0px 5px rgba(210, 166, 255, 0.2);
                    left: 135px;
                    top: -32px;
                }
                img {
                    margin: 45px 0 0 0;
                }
                p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 0.03em;
                    width: 80%;
                    margin: 40px auto;
                }
            }
        }
    }
}